.wrapper {
    margin-top:10em;
    text-align: center;
    perspective: 500px;
}

.shield {
    margin: 0 auto;
    height: 400px;
 
    /* 
    We can control other transition properties using the following syntax:

    transition: [transition-property] [transition-duration] [transition-timing-function] [transition-delay]; 
    */

    transition: all 2s ease-in-out .5s;
}

.shield:hover {
    transform: rotateY(360deg);
}